.page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.page a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.page p {
  color: var(--ptextcolor);
  transition: ease-in-out 0.2s;
}

.page p:hover {
  color: var(--phovercolor);
}

.page {
  text-align: start;
  flex-direction: column;
  justify-content: center;
}

.page3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.page h1,
.page p {
  margin-left: 10%;
  margin-right: 10%;
}

.page4 {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contentblock {
  margin: 50px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  justify-content: flex-start;
}

.contentblock button {
  margin: 0px;
}

.p4cardholder {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  align-items: center;
}

.p4cardholder::-webkit-scrollbar {
  position: fixed;
  background: var(--backgroundcolor);
}

.p4cardholder::-webkit-scrollbar-thumb {
  position: absolute;
  background: var(--firstcolor);
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: var(--backgroundcolorlighter);
  margin: 5%;
  border-radius: 15px;
  max-width: 300px;
  min-width: 200px;
  padding: 10px;
  height: 400px;
}

.page2button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  margin-top: 30px;
  max-width: 500px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  font-size: 15px;
  background-color: var(--firstcolor);
  transition: ease-in-out 0.3s;
}

.page2button:hover{
    border-radius: 30px;
}

.bluebutton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  max-width: 500px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  font-size: 15px;
  background-color: var(--secondarycolor);
  transition: ease-in-out 0.2s;
}

.purple {
  color: var(--firstcolor);
}

.blue {
  color: var(--secondarycolor);
}

@media only screen and (min-width: 1200px) {
  .p4cardholder {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
@media only screen and (max-width: 1355px) {
  .content_holder {
    overflow-x: scroll;
    padding: 30px;
  }

  .content_holder::-webkit-scrollbar {
    position: absolute;
    background: var(--backgroundcolor);
  }

  .content_holder::-webkit-scrollbar-thumb {
    background: var(--secondarycolor);
    border-radius: 20px;
  }

  .page3 .contentblock {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.pageup {
  font-size: 23px;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  display: none;
  width: 40px;
  height: 40px;
  background: var(--backgroundcolorlighter);
  border-radius: 30px;
  transition: ease-in-out .2s;
}

.pageup i {
  color: var(--ptextcolor);
  transition: ease-in-out 0.2s;
}

.pageup:hover i {
  color: var(--basetext);
}

.pagedown {
  font-size: 23px;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  display: flex;
  width: 40px;
  height: 40px;
  background: var(--backgroundcolorlighter);
  border-radius: 30px;
  transition: ease-in-out .2s;
}

.pagedown i {
  color: var(--ptextcolor);
  transition: ease-in-out 0.2s;
}

.pagedown:hover i {
  color: var(--basetext);
}

.buttonwitharrow {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.buttonarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    margin-top: 1px;
    font-size: 25px;
    border-radius: 30px;
    padding: 2px;
    padding-left: 3px;
    transition: ease-in-out .3s;
    margin-left: 60px;
}

.buttonwitharrow:hover .buttonarrow{
    margin-left: 165px;
    background: var(--ptextcolor);
}
