@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Knewave&display=swap";
* {
    font-family: Roboto Mono, monospace;
    color: var(--basetext);
  }
  
  * i {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
  }
  
  body {
    position: absolute;
    z-index: -1;
    background: var(--backgroundcolor);
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0px;
    transition: 0.3s cubic-bezier(0.62, 0.19, 0.4, 0.98);
  }
  
  .loader.loadview {
    position: fixed;
    background: var(--backgroundcolor);
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    transition: ease-out .4s;
    z-index: 1;
}

.loader {
    display: none;
    transition: ease-out .4s;
}

.item {
    height: 3px;
    width: 10px;
    background: var(--firstcolor);
    margin: 5px;
    border-radius: 25px;

}

.item1 {
    animation: load infinite .7s linear .1s;
}
.item2 {
    animation: load infinite .7s linear .2s;
}
.item3 {
    animation: load infinite .7s linear .3s;
}
.item4 {
    animation: load infinite .7s linear .4s;
}
.item5 {
    animation: load infinite .7s linear .5s;
}
.item6 {
    animation: load infinite .7s linear .6s;
}
.item7 {
    animation: load infinite .7s linear .7s;
}
.item8 {
    animation: load infinite .7s linear .8s;
}
.item9 {
    animation: load infinite .7s linear .9s;
}
.item10 {
    animation: load infinite .7s linear 01s; 
}

@keyframes load {
    0% {
        transform: translatey(0px);
    }
    25% {
        transform: translatey(10px);
        height: 25px;
    }
    50% {
        height: 10px;
        transform: translatey(0px)
    }
    75%{
        height: 25px;
        transform: translatey(-10px)
    }
    100%{
        transform: translatey(0px)
    }
}

.pickerholder {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: var(--backgroundcolorlighter);
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  margin: 3px;
  overflow: scroll;
  margin: 20px;
  left: -390px;
  transition: linear .2s;
}

.pickerholder.active {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: var(--backgroundcolorlighter);
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
    overflow: scroll;
    margin: 20px;
    left: 0px;
    transition: linear .2s;
}

.currentcolor {
  display: flex;
  background: var(--firstcolor);
  margin-bottom: 10px;
  border-radius: 10px;
  height: 25px;

}

.colorstuff {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.colorcircle {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 10px;
  opacity: .85;
  transition: linear .2s;
}

.colorcircle:hover{
    opacity: 1;
    box-shadow: 5px 5px 2px var(--backgroundcolor);
}

.colorholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  margin-right: 10px;
}

.colorbtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    position: fixed;
    background: var(--backgroundcolorlighter);
    width: 30px;
    height: 30px;
    border-radius: 0px 20px 20px 0px;
    top: 27px;
    left: 0px;
    transition: linear .2s;
}
.colorbtn:hover{
    width: 40px;
}

.colorbtn.active{
    left: 390px;
    width: 30px;
    transition: linear .2s;
}

.colorbtn.active:hover{
    width: 40px;
}


.colorbtn i{
    font-size: 25px;
    color: var(--firstcolor);
    transition: linear .2s;
}


@media only screen and (max-width: 700px) {
    .pickerholder {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: var(--backgroundcolorlighter);
        width: 100vw;
        padding: 0px;
        border-radius: 10px;
        margin: 0px;
        left: 0;
        bottom: 0px;
        transition: linear .2s;
        translate: 0px 235px;
    }
    .pickerholder.active {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: var(--backgroundcolorlighter);
        width: 100vw;
        padding: 0px;
        border-radius: 10px;
        margin: 0px;
        left: 0;
        bottom: 0px;
        transition: linear .2s;
        translate: 0px 0px;
    }
    .colorbtn{
        top: unset;
        left: unset;
        bottom: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        justify-content: center;
        padding: 3px;
        transition: linear .2s;
    }
    .colorbtn.active{
        transition: linear .2s;
        top: unset;
        left: unset;
        bottom: 240px;
        right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        justify-content: center;
        padding: 3px;
        
    }
    .colorbtn:hover{
        width: 40px;
    }
}